.cooperate {
  height: 200px;
  margin-bottom: 150px;
  background-color: $color-light-gray;
  &-container {
    height: 100%;
    @include flex-center;
    gap: 50px 65px;
  }
  &-item {
    width: 150px;
    height: auto;
    & img {
      width: 100%;
      object-fit: fill;
    }
  }
}
@media only screen and(max-width: 46.188rem) {
  .cooperate {
    height: 100vh;
    padding: 30px 0;
    &-container {
      height: 100%;
      @include flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    &-item {
      width: 50%;
      height: auto;
    }
  }
} //739px
@media only screen and(min-width:46.25rem ) and(max-width: 63.938rem) {
  .cooperate {
    &-container {
      gap: 35px;
    }
  }
}
